---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Cennik usług Olga Koss";
---

<Section id="pricing">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Cennik" description={description} />
    <div>
      <p>
        Cennik usług ustalany jest indywidualnie, ponieważ każda terapia jest
        dostosowana do unikalnych potrzeb pacjenta. Różne schorzenia i poziomy
        zaawansowania problemów wymagają zróżnicowanych podejść, metod i
        długości leczenia. Dzięki temu każda osoba otrzymuje spersonalizowaną
        opiekę, która najlepiej wspiera jej zdrowie i samopoczucie, co zapewnia
        skuteczniejsze rezultaty.
      </p>
    </div>
  </div>
</Section>
