---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description =
  "Krok po kroku: Przewodnik do osiągnięcia równowagi i zdrowia dzięki terapiom naturalnym";
---

<Section id="procedure">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Procedura działania"
      description={description}
    />
    <Accordion />
  </div>
</Section>
