---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2>Nie zwlekaj!</h2>
        <p>
          Skontaktuj się i umów darmową konsultację. Dowiesz się jak wieloletnie
          doświadczenie Olgi może pomóc Ci w codziennym życiu. Twój organizm
          będzie Ci wdzięczny.
        </p>
        <a
          class="btn-primary text-center w-2/3"
          href="mailto:olenka50k@wp.pl"
          title="Przekierowanie do sekcji kontaktów">Umów wizytę</a
        >
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="To ilustracja do umówienia wizyty"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
