<form
  class="bg-[#292A32] px-10 py-14 rounded-[14px] gap-5 h-full flex flex-col sm:flex-row items-center justify-center"
>
  <div class="w-full sm:w-[55%]">
    <!-- <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="bg-transparent w-full px-[35px] py-5 border rounded-[14px] focus:outline-none"
    /> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.7450473206172!2d21.981920977013516!3d50.03487297151582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfba78ec410cf%3A0x4808c93c49da7232!2sJaworowa%207%2C%2035-113%20Rzesz%C3%B3w!5e0!3m2!1sen!2spl!4v1725561298358!5m2!1sen!2spl"
      style="border:0;"
      allowfullscreen="true"
      title="Mapa dojazdowa Google Maps"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <span class="w-full sm:w-[45%] btn-tertiary text-center"
    >Zapraszam na wizytę!</span
  >
</form>
